/**
 * @name Catppuccin Mocha Teal
 * @description A dark, rounded discord theme. Based on catppuccin mocha.
 * @author refact0r (tweaked by zero.mp4)
*/

@import url("mocha-default/midnight-catppuccin-mocha.css");

:root {
  /* accent colors */
  --accent-1: hsl(170, 57%, 73%); /* links */
  --accent-2: hsl(170, 57%, 73%); /* general unread/mention elements */
  --accent-3: hsl(170, 57%, 73%); /* accent buttons */
  --accent-4: hsl(170, 43%, 65%); /* accent buttons when hovered */
  --accent-5: hsl(170, 28%, 57%); /* accent buttons when clicked */
  --mention: hsla(170, 57%, 73%, 0.15); /* mentions & mention messages */
  --mention-hover: hsla(170, 57%, 73%, 0.075); /* mentions & mention messages when hovered */
}