/**
 * @name Catppuccin Mocha Pink
 * @description A dark, rounded discord theme. Based on catppuccin mocha.
 * @author refact0r (tweaked by zero.mp4)
*/

@import url("mocha-default/midnight-catppuccin-mocha.css");

:root {
  /* accent colors */
  --accent-1: hsl(316, 72%, 86%); /* links */
  --accent-2: hsl(316, 72%, 86%); /* general unread/mention elements */
  --accent-3: hsl(316, 72%, 86%); /* accent buttons */
  --accent-4: hsl(316, 58%, 78%); /* accent buttons when hovered */
  --accent-5: hsl(316, 43%, 70%); /* accent buttons when clicked */
  --mention: hsla(316, 72%, 86%, 0.15); /* mentions & mention messages */
  --mention-hover: hsla(316, 72%, 86%, 0.075); /* mentions & mention messages when hovered */
}
