/**
 * @name Catppuccin Mocha Lavender
 * @description A dark, rounded discord theme. Based on catppuccin mocha.
 * @author refact0r (tweaked by zero.mp4)
*/

@import url("mocha-default/midnight-catppuccin-mocha.css");

:root {
  /* accent colors */
  --accent-1: hsl(232, 97%, 85%); /* links */
  --accent-2: hsl(232, 97%, 85%); /* general unread/mention elements */
  --accent-3: hsl(232, 97%, 85%); /* accent buttons */
  --accent-4: hsl(232, 83%, 77%); /* accent buttons when hovered */
  --accent-5: hsl(232, 68%, 69%); /* accent buttons when clicked */
  --mention: hsla(232, 97%, 85%, 0.15); /* mentions & mention messages */
  --mention-hover: hsla(232, 97%, 85%, 0.075); /* mentions & mention messages when hovered */
}
